server:
  port: 8070

spring:
  application:
    name: ox-clothes
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password: 1111
    url: jdbc:mysql://localhost:3306/ox_clothes
  jpa:
    database: MySQL
    hibernate:
      ddl-auto: none
  sql:
    init:
      mode: always
      data-locations:
        - classpath*:/scripts/schema.sql
        - classpath*:/scripts/data.sql
        - classpath*:/scripts/socks_colors.sql
        - classpath*:/scripts/outerwear_sizes.sql
        - classpath*:/scripts/outerwear_colors.sql

springdoc:
  swagger-ui.path: /swagger-ui-custom.html
  swagger-ui:
    operationsSorter: method

eureka:
  client:
    service-url:
      default-zone: http://localhost:8761/eureka
    fetch-registry: true
    register-with-eureka: true
    enabled: true

mapstruct:
  processor:
    default-component-model: spring